@media all and (max-width: 822px) {
  .homepage-header {
    font-size: 160%;
  }
}

@media all and (max-width: 768px) {
  .homepage-header {
    font-size: 140%;
  }
  
  .homepage-img {
    top: 20.5rem;
  }
}

@media all and (max-width: 667px) {
    .homepage-header {
      font-size: 120%;
    }

    .homepage-img {
      top: 20rem;
    }
}

@media all and (max-width: 596px) {
  .homepage-header {
    padding: 1rem 2rem;
    font-size: 100%;
  }

  .homepage-text-wrapper {
    width: 90%;
  }

  .homepage-img {
    top: 19.5rem;
  }
}

@media all and (max-width: 520px) {
  .homepage-header {
    text-align: center;
    font-size: 90%;
  }

  img {
    height: 18vh;
  }
}

@media all and (max-width: 438px) {
  img {
    height: 15vh;
  }
}