/* ITALIC, LOGO */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap");
/* REGULAR, NAV LINKS */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Mukta:wght@500&display=swap");
/* SERIF FONT FOR BODY */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Mukta:wght@500&family=Spectral&display=swap");

:root {
  --text: white;
  --logo-font: "Kanit", sans-serif;
  --link-font: "Mukta", sans-serif;
  --serif-font: "Spectral", serif;

  --soft-lightblue: #c8e4f9;
  --lightblue: #b0def4;
  --med-lightblue: #8097d1;
  --med-darkblue: #7079a0;
  --darkblue: #005178;
  --darkerblue: #00293c;
  --deep-darkblue: #474056;
  --chi-blue: #b5def2;

  --primary-lightpink: #ea8aba;
  --primary-darkpink: #a33f67;
  --primary-lightorange: #f3872f;
  --primary-darkorange: #f96700;

  --homepage-textshadow: 1px 1px 2px var(--med-lightblue);

  --btn-hover: 0.2s ease-in-out;
  --blue-gradient: linear-gradient(
    to right,
    var(--darkerblue),
    var(--darkblue)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}

body {
  background: var(--darkerblue);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* HOMEPAGE  */

.homepage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to top,
    var(--med-lightblue),
    var(--chi-blue) 20%
  );
  height: 100%;
  padding: 3rem 0;
}

.homepage-img {
  position: fixed;
  top: 21rem;
  left: 0;
  z-index: 2;
}

img {
  height: 20vh;
}

.homepage-text-wrapper {
  position: relative;
  width: 80%;
  z-index: 3;
}

.homepage-bio-wrapper {
  margin-top: 23rem;
}

.homepage-header {
  text-shadow: var(--homepage-textshadow);
}

.homepage-header,
.homepage-bio-wrapper {
  font-family: var(--logo-font);
  font-size: 180%;
}

.homepage-header,
.homepage-secondary-header,
.homepage-bio {
  background: var(--blue-gradient);
  padding: 1rem 3rem;
  margin: 0 auto;
  border: 2px solid var(--text);
  border-radius: 10px;
  box-shadow: 2px 2px 3px var(--deep-darkblue);
  text-align: left;
}

.homepage-secondary-header {
  margin-top: 1rem;
  border-radius: 10px;
}

.homepage-bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: none;
  border: none;
  margin: 1rem auto 0;
  padding: 0 0;
  box-shadow: none;
}

.bio-col-left,
.bio-col-right {
  /* font-family: var(--serif-font); */
  background: var(--blue-gradient);
  padding: 1rem 3rem;
  border: 2px solid var(--text);
}

.bio-col-left {
  width: 58%;
  margin-right: 2%;
  border-radius: 10px;
}

.bio-col-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: 10px;
}

.og-sweeper {
  display: block;
  width: 300px;
  height: 300px;
}

.get-started,
h4 {
  width: 80%;
  margin-top: 1rem;
}

.swept-header {
  font-style: italic;
}

.chicago-link {
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}

.homepage-signup {
  margin: 1rem 0 0;
  width: 50%;
  text-align: center;
  font-size: 70%;
}

.login-btn {
  margin: 0;
}

.donate-btn {
  text-align: center;
  width: 70%;
  padding: 0.2rem 0;
  margin: 1rem 0;
  font-family: var(--link-font);
}

.chicago-link:hover {
  color: var(--soft-lightblue);
}

/* END HOMEPAGE  */

/* LOGIN / SIGNUP WRAPPER  */

.login-signup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to top,
    var(--med-lightblue),
    var(--chi-blue) 20%
  );
  height: 85vh;
  padding: 8rem 0;
}

.login-signup-inner {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 3rem;
  background: var(--blue-gradient);
  border: 2px solid var(--text);
  border-radius: 10px;
  box-shadow: 2px 2px 3px var(--deep-darkblue);
}

.login-signup-form-switcher {
  font-family: var(--link-font);
  font-style: italic;
  margin-left: 6px;
  transition: var(--btn-hover);
}

.login-signup-form-switcher:hover {
  color: var(--med-darkblue);
  text-decoration: underline;
}

/* END LOGIN / SIGNUP WRAPPER  */

/* LOGIN FORM  */

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  background: linear-gradient(
    to top,
    var(--med-lightblue),
    var(--chi-blue) 20%
  );
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  padding: 0.7rem 1rem;
  font-size: 120%;
  background: var(--darkblue);
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 1.2rem;
}

.login-submit-btn {
  background: var(--primary-darkorange);
  text-align: left;
  font-weight: bold;
  transition: var(--btn-hover);
}

.login-submit-btn:disabled {
  background: var(--deep-darkblue);
}

.login-submit-btn:hover:enabled {
  background: var(--primary-lightorange);
}

/* END LOGIN FORM  */

/* PROFILE  */

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  background: linear-gradient(
    to top,
    var(--med-lightblue),
    var(--chi-blue) 20%
  );
  height: 85vh;
}

.profile-info-wrapper,
.recent-search-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 3rem;
  background: var(--blue-gradient);
  border: 2px solid var(--text);
  border-radius: 10px;
  box-shadow: 2px 2px 3px var(--deep-darkblue);
  margin-bottom: 3rem;
}

.profile-welcome-header,
.recent-search-header {
  text-shadow: var(--homepage-textshadow);
  text-align: center;
}

/* END PROFILE  */

/* SWEEPER  */

.sweeper-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  background: linear-gradient(
    to top,
    var(--med-lightblue),
    var(--chi-blue) 20%
  );
  min-height: 85vh;
  max-height: 100%;
  font-family: var(--link-font);
}

.sweeper-form-wrapper,
.sweeper-data-output-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 3rem;
  background: var(--blue-gradient);
  border: 2px solid var(--text);
  border-radius: 10px;
  box-shadow: 2px 2px 3px var(--deep-darkblue);
}

.find-ward {
  font-family: var(--link-font);
  margin-top: 0.7rem;
  margin-left: 5px;
  text-decoration: underline;
}

.sweeper-arrow {
  margin-left: 0.5rem;
}

.sweeper-data-output-wrapper {
  width: 50%;
  margin-bottom: 3rem;
  margin-top: 2rem;
  border-radius: 10px;
}

.sweeper-data-output {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 3rem;
  border-bottom: 2px solid var(--text);
}

.save-btn {
  width: 50%;
  border: 2px solid var(--text);
  margin: 1rem 0;
  padding: 0.2rem 0;
  font-family: var(--link-font);
  font-size: 110%;
}

/* END SWEEPER  */

/* SWEEPER FORM  */

.zipform-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.zipform-input {
  padding: 0.7rem 1rem;
  font-size: 120%;
  background: var(--darkblue);
  border: 2px solid white;
  border-radius: 10px;
}

.zipform-btn {
  margin-top: 1.2rem;
  background: var(--primary-darkorange);
  text-align: left;
  font-weight: bold;
  transition: var(--btn-hover);
}

.zipform-btn:hover {
  background: var(--primary-lightorange);
}

.error-msg {
  font-family: var(--link-font);
  padding: 0.2rem 0;
  margin-left: 5px;
}

::placeholder {
  color: white;
}

/* END ZIP FORM  */

/* SNOW FORM  */

.snow-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  background: linear-gradient(
    to top,
    var(--med-lightblue),
    var(--chi-blue) 20%
  );
  height: 85vh;
  font-family: var(--link-font);
}

@media all and (max-width: 915px) {
  .sweeper-form-wrapper,
  .sweeper-data-output-wrapper,
  .snow-form-wrapper,
  .snow-data-output-wrapper,
  .login-signup-inner,
  .profile-info-wrapper,
  .recent-search-wrapper {
    width: 60%;
  }
}

/* FOOTER  */

.footer-wrapper {
  height: 5rem;
  background: var(--blue-gradient);
  border-top: 2px solid var(--text);
}

/* END FOOTER  */

/* FORM QUERIES  */

@media all and (max-width: 768px) {
  .sweeper-form-wrapper,
  .sweeper-data-output-wrapper,
  .snow-form-wrapper,
  .snow-data-output-wrapper,
  .login-signup-inner,
  .profile-info-wrapper,
  .recent-search-wrapper {
    width: 70%;
  }

  .save-btn {
    width: 35%;
    padding: 0;
    font-size: 110%;
  }
}

@media all and (max-width: 668px) {
  .sweeper-form-wrapper,
  .sweeper-data-output-wrapper,
  .snow-form-wrapper,
  .snow-data-output-wrapper,
  .login-signup-inner,
  .profile-info-wrapper,
  .recent-search-wrapper {
    width: 85%;
  }

  .homepage-text-wrapper {
    width: 90%;
  }
}

@media all and (max-width: 520px) {
  .zipform-input,
  .street-input {
    font-size: 100%;
  }

  .sweeper-wrapper {
    padding-top: 4rem;
  }
}

@media all and (max-width: 468px) {
  .sweeper-form-wrapper,
  .sweeper-data-output-wrapper,
  .snow-form-wrapper,
  .snow-data-output-wrapper,
  .login-signup-inner,
  .profile-info-wrapper,
  .recent-search-wrapper {
    padding: 3rem 1.5rem;
    width: 95%;
  }
}

/* HOME QUERIES  */
@media all and (max-width: 1200px) {
  .homepage-bio {
    flex-direction: column;
  }

  .bio-col-left,
  .bio-col-right {
    width: 100%;
    margin: 0;
    border-radius: 10px;
  }

  .bio-col-right {
    margin-top: 1rem;
  }
}

@media all and (max-width: 822px) {
  .homepage-header {
    font-size: 160%;
  }
}

@media all and (max-width: 768px) {
  .homepage-header,
  .homepage-bio-wrapper {
    font-size: 140%;
  }

  .homepage-img {
    top: 20.5rem;
  }
}

@media all and (max-width: 667px) {
  .homepage-header,
  .homepage-bio-wrapper {
    font-size: 120%;
  }

  .homepage-img {
    top: 20rem;
  }
}

@media all and (max-width: 596px) {
  .homepage-header {
    padding: 1rem 2rem;
  }

  .homepage-header {
    font-size: 100%;
  }

  .homepage-bio-wrapper {
    font-size: 120%;
  }

  .homepage-img {
    top: 19.5rem;
  }
}

@media all and (max-width: 520px) {
  .homepage-header,
  .homepage-bio-wrapper {
    padding: 1rem 0.5rem;
    text-align: center;
    font-size: 100%;
  }

  .bio-col-left,
  .bio-col-right {
    padding: 1rem;
  }

  .homepage-text-wrapper {
    width: 95%;
  }

  .homepage-secondary-header {
    font-size: 132%;
  }

  img {
    height: 18vh;
  }
}

@media all and (max-width: 470px) {
  .homepage-secondary-header {
    padding: 1rem 1rem;
    font-size: 135%;
  }
}

@media all and (max-width: 438px) {
  img {
    height: 18vh;
  }

  .homepage-bio-wrapper {
    margin-top: 15rem;
  }
}

@media all and (max-width: 415px) {
  .homepage-secondary-header {
    font-size: 130%;
  }
}

/* PORTRAIT QUERIES  */

@media all and (max-height: 520px) {
  .navbar-header,
  .footer-wrapper {
    height: 4rem;
  }

  .sweeper-wrapper {
    height: 100%;
    padding-top: 1rem;
  }

  .login-signup-wrapper {
    height: 100%;
    padding: 0rem 2rem 2rem 0;
  }
}

@media all and (max-height: 375px) {
  .navbar-header,
  .footer-wrapper {
    height: 3.5rem;
  }

  .sweeper-wrapper {
    height: 100%;
    padding-top: 1rem;
  }

  .login-signup-wrapper {
    height: 100%;
    padding: 0rem 1rem 1rem 0;
  }
}
