/* ITALIC, LOGO */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap');
/* REGULAR, NAV LINKS */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Mukta:wght@500&display=swap');

:root {
  --text: white;
  --logo-font: 'Kanit', sans-serif;
  --link-font: 'Mukta', sans-serif;
  
  --soft-lightblue: #c8e4f9;
  --lightblue: #b0def4;
  --med-lightblue: #8097d1;
  --med-darkblue: #7079a0;
  --darkblue: #005178;
  --darkerblue: #00293c;
  --deep-darkblue: #474056;

  --primary-lightpink: #ea8aba;
  --primary-darkpink: #a33f67;
  --primary-lightorange: #f3872f;
  --primary-darkorange: #f96700;

  --btn-hover: 0.2s ease-in-out;
  --blue-gradient: linear-gradient(to right, var(--darkerblue), var(--darkblue))
}

* {
  margin: 0;
  padding: 0;
  color: var(--text);
}

a {
  text-decoration: none;
}

.sweeper-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--lightblue);
  height: 100vh;
}

.sweeper-data-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 3rem;
  background: var(--blue-gradient);
  border: 2px solid var(--text);
  border-radius: 15px;
  box-shadow: 2px 2px 3px var(--deep-darkblue);
}

.sweeper-ward-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.ward-input {
  padding: 0.7rem 1rem;
  font-size: 120%;
  background: var(--darkblue);
  border: 2px solid white;
  border-radius: 10px;
}

::placeholder {
  color: white;
}

.find-ward {
  margin-top: 0.7rem;
  margin-left: 5px;
  text-decoration: underline;
}
