/* ITALIC, LOGO */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap');
/* REGULAR, NAV LINKS */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Mukta:wght@500&display=swap');

:root {
  --text: white;
  --logo-font: 'Kanit', sans-serif;
  --link-font: 'Mukta', sans-serif;
  
  --soft-lightblue: #c8e4f9;
  --lightblue: #b0def4;
  --med-lightblue: #8097d1;
  --med-darkblue: #7079a0;
  --darkblue: #005178;
  --darkerblue: #00293c;
  --deep-darkblue: #474056;
  --chi-blue: #b5def2;

  --primary-lightpink: #ea8aba;
  --primary-darkpink: #a33f67;
  --primary-lightorange: #f3872f;
  --primary-darkorange: #f96700;

  --btn-hover: 0.2s ease-in-out;
  --blue-gradient: linear-gradient(to right, var(--darkerblue), var(--darkblue))
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.navbar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: 100vw;
  padding: 0 3rem 0 3rem;
  height: 5rem;
  background: var(--blue-gradient);
}

.nav-logo {
  font-family: var(--logo-font);
  font-style: italic;
  font-size: 240%;
  letter-spacing: 0.1rem;
}

.nav-item, .login-btn {
  transition: var(--btn-hover);
}

.nav-logo {
  text-shadow: 4px 4px 1px black;
}

.nav-item,
.mobile-page-links {
  text-shadow: 3px 3px 2px var(--deep-darkblue);
}

.nav-links {
  font-size: 160%;
  font-family: var(--link-font);
}

.nav-right {
  display: flex;
  flex-direction: row;
}

.nav-profile {
  margin-right: 1rem;
}

.nav-right > a,
.switch > a:nth-child(3) {
  padding-left: 1.5rem;
}

.login-btn {
  background: var(--primary-darkorange);
  border-radius: 10px;
  padding: 0 0.5rem;
  margin-left: 1rem;
}

.deco {
  position: relative;
  height: 2rem;
  background: var(--blue-gradient);
  z-index: 1;
}

.deco-inner {
  height: 2rem;
  background: linear-gradient(to bottom, var(--med-lightblue), var(--chi-blue));
  border-top: 2px solid white;
  border-radius: 50px 50px 0 0;
  z-index: 2;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--text);
}

.switch {
  position: relative;
  background: var(--darkblue);
  border-radius: 10px;
  width: 200px;
  height: 100%;
  padding: 0.7rem 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  transition: .4s;
  z-index: 3;
}

.slider-one,
.slider-two {
  top: 0;
  bottom: 0;
}

.slider-one {
  margin-left: 6px;
  left: 0;
}

.slider-two {
  margin-right: 6px;
  right: 0;
}

.switch-overlay {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  right: 50%;
  top: 0;
  border-radius: 10px;
  background: var(--primary-darkorange);
  z-index: 2;
}

/* ANIMATION  */
.nav-item:hover {
  opacity: .7;
}

.login-btn:hover {
  background: var(--primary-lightorange);
}