/* ITALIC, LOGO */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap');
/* REGULAR, NAV LINKS */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Mukta:wght@500&display=swap');

:root {
  --text: white;
  --logo-font: 'Kanit', sans-serif;
  --link-font: 'Mukta', sans-serif;
  
  --soft-lightblue: #c8e4f9;
  --lightblue: #b0def4;
  --med-lightblue: #8097d1;
  --med-darkblue: #7079a0;
  --darkblue: #005178;
  --darkerblue: #00293c;
  --deep-darkblue: #474056;

  --primary-lightpink: #ea8aba;
  --primary-darkpink: #a33f67;
  --primary-lightorange: #f3872f;
  --primary-darkorange: #f96700;

  --btn-hover: 0.2s ease-in-out;
  --blue-gradient: linear-gradient(to right, var(--darkerblue), var(--darkblue))
}

@media all and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-right {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    width: 100vw;
    padding: 1.5rem 15vw;
    background: linear-gradient(to top, var(--darkerblue), var(--darkblue));
    border-top: 2px solid var(--text);
    border-radius: 20px;
    transition: 0.3s;
    z-index: 4;
  }

  .slider-one {
    margin-left: 3rem;
  }

  .slider-two {
    margin-right: 3rem;
  }

  .profile-icon,
  .login-btn {
    padding: 0.5rem 3rem;
  }

  .nav-right.active {
    bottom: -1rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-right-mobile {
    position: relative;
    display: flex;
    justify-content: space-around;
    background: var(--darkblue);
    border: 2px solid white;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 3rem;
  }

  .nav-right-mobile-overlay {
    position: absolute;
    background: var(--primary-darkorange);
    border-radius: 15px;
    opacity: 0.8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    z-index: 1;
  }

  .mobile-page-links {
    position: relative;
    z-index: 3;
    transition: 0.2s ease-in-out;
  }

  .profile-icon {
    margin: 0;
  }

  .nav-right > a {
    padding: 0;
  }

  .login-btn {
    margin: 0;
    text-shadow: none;
    margin-bottom: 2rem;
  }

  .switch {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .nav-right.active {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}

@media all and (max-width: 630px) {
  .profile-icon,
  .login-btn {
    padding: 0.5rem 2rem;
  }

  .slider-one {
    margin-left: 3.5rem;
  }
}

@media all and (max-width: 570px) {
  .slider-one {
    margin-left: 3rem;
  }
}

@media all and (max-width: 540px) {
  .profile-icon,
  .login-btn {
    padding: 0.5rem 1.5rem;
  }
}

@media all and (max-width: 510px) {
  .slider-one {
    margin-left: 2.5rem;
  }
}

@media all and (max-width: 475px) {
  .profile-icon,
  .login-btn {
    padding: 0.5rem 1rem;
  }
}

@media all and (max-width: 450px) {
  .slider-one {
    margin-left: 1.8rem;
  }

  .slider-two {
    margin-right: 2.1rem;
  }
}

@media all and (max-width: 430px) {
  .slider-one {
    margin-left: 1.5rem;
  }

  .profile-icon,
  .login-btn {
    padding: 0.5rem 0.6rem;
  }
}

@media all and (max-width: 400px) {
  .slider-one {
    margin-left: 1.1rem;
  }

  .slider-two {
    margin-right: 1.4rem;
  }

  .profile-icon,
  .login-btn {
    padding: 0.5rem 0.4rem;
  }
}

@media all and (max-width: 370px) {
  .profile-icon,
  .login-btn {
    padding: 0.5rem 0.2rem;
  }
}