@media all and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-right {
    flex-direction: column-reverse;
    position: fixed;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}