@media all and (max-width: 915px) {
  .login-signup-inner {
    width: 60%;
  }
}

@media all and (max-width: 768px) {
  .login-signup-inner {
    width: 70%;
  }
}

@media all and (max-width: 668px) {
  .login-signup-inner {
    width: 85%;
  }
}

@media all and (max-width: 468px) {
  .login-signup-inner {
    width: 95%;
  }
}